body {
    font-family: 'Poppins', sans-serif;
}

.linked-button {
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(orange, tomato);
    font-weight: 400;
    color: white;
    border-radius: 5px;

}

.top-part {
    background-image: url(images/donation9.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;

}

body,
html {
    height: 100%;
}

.text {
    color: tomato;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

#color {
    color: white;
    font-weight: 700;
    text-align: center;
}

.button {
    text-align: center;
}

.text-2 {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

.money-button {
    text-align: center;
    margin-top: 50px;
    font-size: 100px;
}

#first-button {
    font-size: 30px;
    font-weight: 700;
    color: orangered;
    border-radius: 5px;
    border-color: orangered;
    box-shadow: orangered;
    padding: 30px 30px;

}

#second-button {
    font-size: 30px;
    font-weight: 700;
    color: gray;
    border-color: white;
    border-radius: 5px;
    padding: 30px 30px;
}

#third-button {
    font-size: 30px;
    font-weight: 700;
    color: gray;
    border-color: white;
    border-radius: 5px;
    padding: 30px 30px;
}

#fourth-button {
    font-size: 30px;
    font-weight: 700;
    color: gray;
    border-color: white;
    border-radius: 5px;
    padding: 30px 30px;
}

#fifth-button {
    font-size: 30px;
    font-weight: 700;
    color: gray;
    border-color: white;
    border-radius: 5px;
    padding: 30px 30px;
}

#input-field {
    margin-top: 100px;
    width: 100%;
}

#amount {
    text-align: center;
    color: gray;
    font-weight: 100;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}